In [15]:
import pandas as pd
from sqlalchemy import create_engine

### Store JSON data into a DataFrame

In [16]:
json_file = "../Resource/yelp_academic_dataset_review.json"
import json
data = []
with open(json_file, errors='ignore') as f:
    for line in f:
        data.append(json.loads(line))
print(data[5])

{'review_id': 'fdiNeiN_hoCxCMy2wTRW9g', 'user_id': 'w31MKYsNFMrjhWxxAb5wIw', 'business_id': 'eU_713ec6fTGNO4BegRaww', 'stars': 4.0, 'useful': 0, 'funny': 0, 'cool': 0, 'text': 'I\'ll be the first to admit that I was not excited about going to La Tavolta. Being a food snob, when a group of friends suggested we go for dinner I looked online at the menu and to me there was nothing special and it seemed overpriced.  Im also not big on ordering pasta when I go out. Alas, I was outnumbered. Thank goodness! I ordered the sea bass special. It was to die for. Cooked perfectly, seasoned perfectly, perfect portion. I can not say enough good things about this dish. When the server asked how it was he seemed very proud of the dish and said, " doesn\'t she (the chef) do an incredible job?" She does. \n\nMy hubby got the crab tortellini and also loved his. I heard "mmmm this is so good" from all around the table. Our waiter was super nice and even gave us free desserts because we were some of the last people in the restaurant. Service was very slow and the place was PACKED but we had our jugs of wine and a large group with good conversation so it didn\'t seem to bother anyone.\n\nSo-\n\nDo order the calamari and fried zucchini appetizers. Leave out the mussels. \n\nIf they have the sea bass special, I highly recommend it. The chicken parm and crab tortellini were also very good and very big. The chicken Romano was a bit bland. The house salads were teeny. \n\nDo make a reservation but still expect to wait for your food. Go with a large group of people and plan for it to be loud. Don\'t go with a date unless you\'re fighting and don\'t feel like hearing anything they have to say.  Ask to sit in the side room if it\'s available.', 'date': '2013-01-20 13:25:59'}

In [17]:
business_reviw_df = pd.DataFrame(data)
business_reviw_df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,6,1,0,Total bill for this horrible service? Over $8G...,2013-05-07 04:34:36
1,GJXCdrto3ASJOqKeVWPi6Q,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5.0,0,0,0,I *adore* Travis at the Hard Rock's new Kelly ...,2017-01-14 21:30:33
2,2TzJjDVDEuAW6MR5Vuc1ug,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5.0,3,0,0,I have to say that this office really has it t...,2016-11-09 20:09:03
3,yi0R0Ugj_xUx_Nek0-_Qig,dacAIZ6fTM6mqwW5uxkskg,ikCg8xy5JIg_NGPx-MSIDA,5.0,0,0,0,Went in for a lunch. Steak sandwich was delici...,2018-01-09 20:56:38
4,11a8sVPMUFtaC7_ABRkmtw,ssoyf2_x0EQMed6fgHeMyQ,b1b1eb3uo-w561D0ZfCEiQ,1.0,7,0,0,Today was my second out of three sessions I ha...,2018-01-30 23:07:38

### Clean DataFrame

In [18]:
new_business_reviw_df = business_reviw_df[["user_id","business_id", "stars"]].copy()
new_business_reviw_df.head()

                  user_id             business_id  stars
0  hG7b0MtEbXx5QzbzE6C_VA  ujmEBvifdJM6h6RLv4wQIg    1.0
1  yXQM5uF2jS6es16SJzNHfg  NZnhc2sEQy3RmzKTZnqtwQ    5.0
2  n6-Gk65cPZL6Uz8qRm3NYw  WTqjgwHlXbSFevF32_DJVw    5.0
3  dacAIZ6fTM6mqwW5uxkskg  ikCg8xy5JIg_NGPx-MSIDA    5.0
4  ssoyf2_x0EQMed6fgHeMyQ  b1b1eb3uo-w561D0ZfCEiQ    1.0

In [10]:
#df.pivot(index ='stars', columns ='business_id') 
#df

NameError: name 'df' is not defined

In [11]:
#group_data = new_business_reviw_df.groupby(['business_id','stars'])
#print(group_data)
#stars.df = new_business_reviw_df.pivot_table('no of stars', ['business_id'], 'stars')

KeyError: 'no of stars'

In [19]:
df = new_business_reviw_df.pivot(columns='stars')
df.columns = df.columns.droplevel()
df

stars,1.0,2.0,3.0,4.0,5.0,1.0,2.0,3.0,4.0,5.0
0,hG7b0MtEbXx5QzbzE6C_VA,NaN,NaN,NaN,NaN,ujmEBvifdJM6h6RLv4wQIg,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,yXQM5uF2jS6es16SJzNHfg,NaN,NaN,NaN,NaN,NZnhc2sEQy3RmzKTZnqtwQ
2,NaN,NaN,NaN,NaN,n6-Gk65cPZL6Uz8qRm3NYw,NaN,NaN,NaN,NaN,WTqjgwHlXbSFevF32_DJVw
3,NaN,NaN,NaN,NaN,dacAIZ6fTM6mqwW5uxkskg,NaN,NaN,NaN,NaN,ikCg8xy5JIg_NGPx-MSIDA
4,ssoyf2_x0EQMed6fgHeMyQ,NaN,NaN,NaN,NaN,b1b1eb3uo-w561D0ZfCEiQ,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,w31MKYsNFMrjhWxxAb5wIw,NaN,NaN,NaN,NaN,eU_713ec6fTGNO4BegRaww,NaN
6,NaN,NaN,jlu4CztcSxrKx56ba1a5AQ,NaN,NaN,NaN,NaN,3fw2X5bZYeW9xCz_zGhOHg,NaN,NaN
7,d6xvYpyzcfbF_AZ8vMB7QA,NaN,NaN,NaN,NaN,zvO-PJCpNk4fgAVUnExYAA,NaN,NaN,NaN,NaN
8,NaN,sG_h0dIzTKWa3Q6fmb4u-g,NaN,NaN,NaN,NaN,b2jN2mm9Wf3RcrZCgfo1cg,NaN,NaN,NaN
9,NaN,NaN,nMeCE5-xsdleyxYuNZ_7rA,NaN,NaN,NaN,NaN,oxwGyA17NL6c5t1Etg5WgQ,NaN,NaN

In [24]:
df.rename(index=str, columns={one_star:1.0,two_star:2.0,three_star:3.0,four_star:4.0,five_star:5.0})
df.rename

NameError: name 'one_star' is not defined

### Connect to local database

In [6]:
rds_connection_string = "<insert user name>:<insert password>@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [7]:
engine.table_names()

['customer_location', 'customer_name']

### Use pandas to load csv converted DataFrame into database

In [8]:
new_customer_data_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)

### Use pandas to load json converted DataFrame into database

In [9]:
new_customer_location_df.to_sql(name='customer_location', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [10]:
pd.read_sql_query('select * from customer_name', con=engine).head()

   id first_name last_name
0   1    Benetta   Cancott
1   2     Lilyan    Cherry
2   3    Ezekiel   Benasik
3   4    Kennedy     Atlay
4   5    Sanford    Salmen

### Confirm data has been added by querying the customer_location table

In [11]:
pd.read_sql_query('select * from customer_location', con=engine).head()

   id                address  us_state
0   1  043 Mockingbird Place   Indiana
1   2       4 Prentice Point   Indiana
2   3      46 Derek Junction     Texas
3   4  11966 Old Shore Place  Missouri
4   5     5 Evergreen Circle  New York